{{>header}}
	<p>
	Registro al curso: {{curso}}
	</p>
	{{registrarUsuarioAcurso documento nombre correo telefono curso}}
	<p>Señor(a): {{nombre}} se ha registrado al curso de: {{curso}} con los siguientes datos: documento: {{documento}},
		correo: {{correo}}, teléfono: {{telefono}}</p>
{{>footer}}