{{>header}}
	<p>
	Registro de usuario: {{nombre}}
	</p>
	{{registrarUsuario documento nombre correo telefono}}
	<p>Se ha registrado el usuario: {{nombre}} con los siguientes datos: documento: {{documento}},
		correo: {{correo}}, teléfono: {{telefono}}</p>
{{>footer}}