{{>header}}
	<p>
	Registro de curso {{nombrecurso}}
	</p>
	{{registrarCurso nombrecurso idcurso descripcion valor modalidad intensidad}}
	<p>Se ha registrado el curso {{nombrecurso}} con los siguientes datos: identificación:{{idcurso}},
		descripción: {{descripcion}}, valor: {{valor}}</p>
{{>footer}}
