{{>header}}
	<p>
	Bienvenido a la pagina
	</p>
	{{registrarUsuario documento nombre correo telefono}}
	<p>Se ha registrado el usuario {{nombre}} con los siguientes datos: {{documento}},{{correo}},{{telefono}}</p>
{{>footer}}